# https://editorconfig.org
# 为了保持各个ide格式统一
# vscode 需要安装vscode for editorconfig 插件
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
